$font: Helvetica, sans-serif;
$primary-color: #333333;
$secondary-color: #999999;

ul {
  font-family: $font;
  li {
    /* 1. Verschachtelung */
    background-color: $primary-color;
    line-height: 50px;
    li {
      /* 2. Verschachtelung */
      background-color:$secondary-color;
      line-height: 50px;
     }
  }
}

