body {
  font-family: Arial, Helvetica, sans-serif;
}
/* 
@media screen and (max-width: 575px) {
  body {
    background-color: #b6bdff;
  }
}

@media screen and (min-width: 576px) {
  body {
    background-color: #919cfc;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #6a78fa;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #3b4ef9;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #1f34f7;
  }
} */