// Importing the required Sass modules
@use "sass:color";
@use "sass:math";
@use "sass:string";
// Using a function from the "sass:color" module
$color1: #ffff00;
$color2: #0000ff;

h1 {
  background-color: color.mix($color1, $color2);
}

// Using a function from the "sass:math" module
$width1: 200px;
$width2: 500px;

.someClass {
  width: math.max($width1, $width2);
}

// Using a function from the "sass:string" module
$fontFamily: Verdana;

body {
  font-family: string.to-lower-case($fontFamily);
}