/* 1: General CSS rules */
body {
  font-family: Arial, Helvetica, sans-serif;
}

header,
main,
aside,
footer,
.subgrid {
  border: thin solid black;
  padding: 1em;
  margin: 1em;
}

/* 2: Definition of grid areas */
header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/* 3: Definition of the grid layouts */
.grid,
.subgrid {
  display: grid;
}

/* 4: Layout for mobile end devices */
.grid {
  grid-template-areas:
    'header'
    'main'
    'aside'
    'footer';
  width: 100%;
}

.sub'rid {
  width: 90%;
}

.grid-item,
.subgrid-item {
  padding: 1rem;
}

/* 5: Layout for larger mobile end devices */
@media screen and (min-width: 576px) {
  .subgrid {
    grid-template-columns: 1fr 1fr;
  }
}

/* 6: Layout for devices with larger screens */
@media screen and (min-width: 992px) {
  .grid {
    grid-template-areas:
      'header header header'
      'main main aside'
      'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
  }
}